<div class='mt-4 mx-5'>
    <div class='my-4 fs-2'>Create Course</div>
    <form method='POST' action='/course/store'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Name</label>
            <input name='name' type='text' class='form-control' id='name' />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>Description</label>
            <input
                name='description'
                type='text'
                class='form-control'
                id='description'
            />
        </div>
        <div class='mb-3'>
            <label for='videoId' class='form-label'>Video ID</label>
            <input
                name='videoId'
                type='text'
                class='form-control'
                id='videoId'
            />
        </div>
        <div class='mb-3'>
            <label for='Level' class='form-label'>Level</label>
            <input name='level' type='text' class='form-control' id='Level' />
        </div>
        <button type='submit' class='btn btn-primary'>Create Course</button>
    </form>
</div>