<form method="post" action="/follow">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Search</label>
    <input
      name="q"
      type="text"
      class="form-control"
      id="exampleInputPassword1"
    />
    <select
      name="gender"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>---Please choose your sex</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>