<nav class='navbar navbar-expand-lg bg-dark'>
    <div class='container'>
        <a class='navbar-brand text-white' href='/'>Otarie Education</a>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle text-white'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        TanPhan222
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='/course/create'>Add
                                New Course</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/me/course/stored'>My
                                Course</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>